body{
    font: 18px/1.5 sans-serif;

    color: #333;
}
table,td{
    border: 1px solid #333;
}
td{
    padding: 10px 10px 10px 10px;
}
#amount{
text-align: right;
}
td{
    background-color: aqua;
}
tr{
    background-color: brown;
}
